/**********************/
/* Giao dien chung */

.container {
    margin-top: 100px;
}

.title-app {
    font-size: 21px;
    font-weight: 700;
    background-color: #eee;
    width: 100%;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#enTrans {
    font-size: 140%!important;
    resize: vertical;
}

.btn-half {
    width: 48%;
}

#load {
    margin-top: 42px;
}

footer.fix-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #eee;
}
/**********************/
/**********************/

/* Auto complete */
/**********************/
.dropdown-menu {
    border: 1px solid #ddd;
    background-color: white;
}

.dropdown-menu li {
    border-top: 1px solid #ddd;
    padding: 2px 5px;
}

.dropdown-menu li:first-child {
    border-top: none;
}

.dropdown-menu li:hover,
.dropdown-menu .active {
    background-color: rgb(110, 183, 219);
}


/* SHOULD not modify */

.dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu a:hover {
    cursor: pointer;
}
/**********************/
/**********************/


/**********************/
/* Close */
.close {
    font-size: 28px!important;
}
.clear-wrap {
    position: absolute;
    right: 7px;
    top: 7px;
    z-index: 100;
}

/* Load */
.spinner {
    margin: 0 auto;
}

.spinner {
    /*margin: 100px auto 0;*/
    width: 98px;
    text-align: center;
}

.spinner > div {
    width: 28px;
    height: 28px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 40% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
/**********************/
/**********************/


/**********************/
/* Result */
#result {
    margin-bottom: 77px;
    z-index: 10;
    width: 100%;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Translate */ /* Transcribe */
.google-label, .bing-label, .transcribe-label {
    font-weight: bold;
    padding-right: 3px;
}

.bing {
    border-top: 1px solid #eee;
    margin-top: 10px;
    padding-top: 5px;
}

/* Dictionary */
.sp {
    font-size: 66%;
    position: relative;
    bottom: 0.5em;
}
#title-word {
    font-size: 168%;
}
.audio {
    margin-top: 5px;
}
.speakers {
    padding: 0 10px;
    cursor: pointer;
}
#auUK {
    color: #bf001c;
    padding-top: 15px;
}
#auUK:active {
    color: #9b001b;
}
#auUS {
    color: #003291;
    padding-top: 15px;
}
#auUS:active {
    color: #00225e;
}
#typeWord {
    padding-right: 5px;
}
.lab {
    font-variant: small-caps;
}
#transcribe-word {
    margin-left: 10px;
}
/**********************/
/**********************/